*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
public/avatar.jpg filter=lfs diff=lfs merge=lfs -text
public/placeholder.jpg filter=lfs diff=lfs merge=lfs -text
*.jpg !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.png !text !filter !merge !diff
*.webp !text !filter !merge !diff
*.gif !text !filter !merge !diff
